.card__delete-btn {
  box-sizing: border-box;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background: url(../../../images/trash-icon.svg) no-repeat center;
  background-size: 18px 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}
