.popup__submit-input_active {
  cursor: pointer;
  background-color: #000;
  border: none;
  color: #fff;
  transition: opacity .2s ease-in-out;
}

.popup__submit-input_active:hover {
  opacity: .8;
}
