.card__like-btn {
  margin: 0 5px 0 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background: url(../../../images/like-btn.svg) no-repeat center;
  border: none;
  transition: opacity .2s ease-in-out;
}

.card__like-btn:hover {
  opacity: .5;
}
