.not-found__button {
  padding: 14px 84px;
  background: #fff;
  border-radius: 2px;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: all .2s ease-in-out;
}

.not-found__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 540px) {
  .not-found__button {
    padding: 14px 35px;
    font-size: 16px;
    line-height: 19px;
  }
}